{% extends 'base.html' %} {% block title %}CHANGE PASSWORD{% endblock %} {% block body %}
<div class="container">
	<div class="row justify-content-center">
		<div class="col-sm-6">
			<div class="card my-5 p-5 border border-white border-4 rounded">
				<h4 class="text-uppercase text-center my-3 p-3 border border-white border-4 rounded fw-bolder">
					Update Password
				</h4>


				<form
                    action="/pass_admin/{{session['admin_id']}}"
					class="row g-3"
					method="POST"
					enctype="multipart/form-data"
                    name="testForm"
				>
					<div class="col-md-12">
						<label for="myinput5" class="form-label fw-bold">New Password:</label>
						<input type="password" class="form-control" id="myinput5" name="pass1" required />
					</div>
					<div class="col-md-12">
						<label for="myinput6" class="form-label fw-bold">Re-Enter New Password:</label>
						<input type="password" class="form-control" id="myinput6" name="pass2" required />
					</div>
					<div class="col-md-12">
						<input type="checkbox" class="form-check-input" onclick="myFunction5()" id="hai" />
						<label class="form-check-label fw-bold" for="hai"> Show Password </label>
					</div>
					<div class="container text-center">
						<button class="btn btn-lg bttn my-3 fw-bold" onclick="showConfirm()" type="button">UPDATE</button>
					</div>
				</form>



<script>

    function showConfirm(){
        Swal.fire({
        title: 'Are you sure?',
        showCancelButton: true,
        confirmButtonColor: '#d33',
        cancelButtonColor: '#3085d6',
        confirmButtonText: 'Yes'
        }).then((result)=>{
            if(result.isConfirmed){
                document.testForm.submit();
            }
        })
    }
</script>

			</div>
		</div>
	</div>
</div>


{% endblock body %}
