{% extends 'base.html' %} {% block title %}CANDIDATES{% endblock %} {% block body %}
<div class="row row-cols-1 row-cols-md-3 g-2 text-center mx-2">
	{% for i in data %}
	<form action="/vote/{{i['candidate_id']}}" method="POST">
		<div class="col">
			<div class="card p-3 m-3 zooom" style="width: 20rem; background-color: #eee2dc; height: 22rem">
				<img
					src="/static/Uploaded_images/{{i['logo']}}"
					height="155px"
					width="105px"
					class="card-img-top"
					alt="candidate_logo"
				/>
				<div class="card-body">
					<h5 class="card-title fw-bolder">{{i['name']}}</h5>
					<p class="card-text fw-bold">{{i['slogan']}}</p>
					{% if data1 %}
					<span class="btn bn disabled">VOTED</span>
					{% else %}
					<div class="text-center">
						<button class="btn btttn fw-bold" type="button">VOTE</button>
					</div>
					{% endif %}
				</div>
			</div>
		</div>
	</form>
	{% endfor %}
</div>
{% endblock body %}
