{% extends 'base.html' %} {% block title %}USER PASSWORD RECOVERY{% endblock %} {% block body %}
<div class="container">
	<div class="row justify-content-center">
		<div class="col-sm-6">
			<div class="card mt-5 p-5 border border-white border-4 rounded">
				<h2 class="text-uppercase text-center my-3 p-3 border border-white border-4 rounded fw-bolder">
					USER PASSWORD RECOVERY
				</h2>
				<span class="fs-5 fw-bold"
					>Please enter your email address and username to request a password reset.</span
				><br />
				<form method="POST" action="/user_fpass">
					<div class="mb-3">
						<label for="validationCustomUsername" class="form-label fw-bold">Username:</label>
						<div class="input-group has-validation">
							<span class="input-group-text" id="inputGroupPrepend">@</span>
							<input
								type="text"
								name="username"
								class="form-control"
								id="validationCustomUsername"
								aria-describedby="inputGroupPrepend"
								required
							/>
						</div>
					</div>
					<div class="mb-3">
						<label for="mail" class="form-label fw-bold">Email:</label>
						<div class="input-group has-validation">
							<input
								type="email"
								name="mail"
								class="form-control"
								id="mail"
								aria-describedby="inputGroupPrepend"
								required
							/>
						</div>
					</div>
					<div class="container text-center">
						<button class="btn btn-lg bttn mb-4 fw-bold" type="submit">RESET PASSWORD</button>
					</div>
				</form>
			</div>
		</div>
	</div>
</div>
{% endblock body %}
